@{
    ViewData["Title"] = "Home Page";
}

<style>
    .firstcharacter {
      color: #903;
      float: left;
      font-family: Georgia;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <p><span class="firstcharacter">T</span>he world of front-end development is becoming increasingly complex.</p>
    <p>RevoltJS is a return to sanity and an escape from the Javascript framework prison that many are now trapped in. 
    RevoltJS refreshingly uses only standards based HTML, CSS and JS to build dynamic web pages and provide spa-like 
    functionality only when it is needed.</p>
    <p>What is wrong with your stack if it requires super humans to use it? </p>
    <p><strong>Coming Soon:</strong> We will share example patterns on how to use <a href="/home/logos">RevoltJS</a> soon, so bookmark this page!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
