@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Web Utilities</h1>
<ul>
    <li><a href="utilities/base64urlencoder">Base64Url Encoder</a></li>
    <li><a href="utilities/base64urldecoder">Base64Url Decoder</a></li>
</ul>


<a style="display:none;" href="sms://+18017810886">sms send</a>